.otp-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  &__title {
    font-family: var(--font-main);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-gray-800);
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-gray-50);
    margin: 0;
    text-align: center;
    line-height: 1.25;

    strong {
      color: var(--color-gray-900);
      font-weight: 600;
    }
  }

  &__inputs {
    display: flex;
    gap: 1rem;
  }

  &__input {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-main);
    color: var(--color-gray-900);
    background: var(--color-form-input);
    border: 2px solid var(--color-gray-300);
    border-radius: var(--radius-card);
    outline: none;
    transition: border-color 0.15s;

    &:hover {
      border-color: #c39eed;
    }

    &:focus {
      border-color: #873ddc;
    }

    &--error {
      border-color: var(--system-red-700, #eb4235);

      &:hover,
      &:focus {
        border-color: var(--system-red-700, #eb4235);
      }
    }
  }

  &__error {
    color: var(--coral-800, #de4420);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin: 0;
  }

  &__resend {
    display: flex;
    align-items: center;
    margin: 0;

    span {
      font-size: 0.875rem;
      line-height: 1rem;
      color: var(--color-gray-600);
      font-weight: 500;
      padding: 0.75rem 1rem;
      display: inline-block;
    }
  }
}
