:host {
  font-family: var(--font-main);
}

:host,
* {
  --color-primary: #690dd3;
  --color-white: #ffffff;
  --color-form-input: #f6f6f6;

  --radius-card: 1rem;
  --radius-badge: 6px;
  --radius-input: 1.5rem;

  --font-main: "Geologica", sans-serif;

  --color-text-body: #1b1c20;

  --color-gray-50: #6d737e;
  --color-gray-300: #dbdfe4;
  --color-gray-500: #767f8a;
  --color-gray-600: #464b53;
  --color-gray-800: #32383c;
  --color-gray-900: #202427;
  --color-form-border: #dabaff;
  --color-form-bg: #d3acff;

  --system-red-700: #eb4235;
  --coral-800: #de4420;
}
